# Server
NODE_ENV=development
PORT=3000

# Redis
REDIS_URL=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_USERNAME=
BLACKLIST_TTL_SECONDS=604800

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=identity_service
DB_SCHEMA=public
DB_SYNCHRONIZE=true
DB_SSL=false
DB_POOL_MAX=10
DB_POOL_MIN=2
DB_LOGGING=true

#JWT
JWT_SECRET=secret
JWT_EXPIRES_IN=1h
JWT_EXPIRES_IN_SECONDS=3600
REFRESH_TOKEN_TTL_SECONDS=604800